header{
}

.social-media{
  float: right;
}

.logo{
  margin: left auto;

}

h1{
  font-family: cursive;
  font-size: 23px;
  display: inline-block;
}

h2{
  font-family: serif;
}

h3{
  font-family: serif;
  display: inline-block;
}

h4{
display: list-item;
}

h6{
  font-size: 10px;
  display: inline-block;
}

.chocopizza{
font-size: 15px;
font-family: serif;
}

p{
  font-family: serif;
}

.index-card{
  position: relative;
  width: 100%; /* for IE 6 */
}

ul.a{
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  bottom:20px;
  width: 50%;
}

ul.b{
  position: absolute;
  top: 30px;
  left: 400px;
  right: 20px;
  bottom:20px;
  width: 50%;
}

li{
  font-family: fantasy;
  font-size: 20px;
}

footer{
  width: 100%;
  height: 20px;
  padding: 1em;
  color: black;
  background-color: none;
  clear: left;
  text-align: center;
}
